.container {
  top: 1em;
  left: 50vw;
  transform: translateX(-50%);
  position: absolute;
  background: var(--secondary);
  border: 5px solid var(--primary);  
  border-radius: 1em;
  padding: .75em 1em;
  z-index: 10000;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 5px;
  font-size: 1.3em;
}

.title > svg {
  color: var(--accent);
}

.description {
  margin-top: 10px;
  text-align: center;
}