.container {
  position: absolute;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(50vh - var(--menu-offset));
  font-size: 5em;
  padding: 0 15%;
  overflow: hidden;
  z-index: 1;
}
.wrapper:first-child {
  align-items: end;
}
.wrapper:last-child {
  align-items: start;
}
.wrapper > * {
  width: 100%;
  text-align: center;
}

.svg {
  top: 0;
  position: absolute;
  height: 100vh;
  overflow: visible;
  pointer-events: none;
  z-index: 2;
}