@keyframes bg-animation {
  from {
    background-position: 0% 0%;  
  }
  to {
    background-position: 100% 100%;
  }
}
.viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: var(--secondary);
  background-size: 130% 130%;
  animation: bg-animation 8s infinite alternate ease-in-out;
}

.container {
  min-width: var(--diagonal); 
  min-height: var(--diagonal);
  transform: rotate(var(--rotation-angle));
}

.marquee {
  opacity: var(--text-opacity);
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: bold;
  text-transform: uppercase;
}

.row {
  height: var(--diagonal);
  width: min-content;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.row > * {
  white-space: nowrap;
  margin-right: 1ch;
}
.row > *:nth-child(odd) {
  margin-left: -50%;
}