.container {
  width: 100%;
  position: relative;
  margin-left: calc(50vh + 5vw);   
  margin-right: 5vw;
}

.ai-completion {
  bottom: 100%;
  position: absolute;
  width: 100%;
  height: calc(50vh - 50% - 20px - 20px);
  font-size: 1.3em;
  font-family: Onest;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.field {
  outline: none;
  background: transparent;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  resize: none;
  border: none;
  color: var(--query);
  font-size: var(--font-size);
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  cursor: default;
}