.container {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.mobile-warning {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.mobile-warning > div {
  text-align: center;
}
.ignore-mobile-button {
  text-decoration: underline;
  cursor: pointer;
}

.cancel-button {
  position: absolute;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);
  z-index: 10000;
  cursor: pointer;
  font-size: x-large;
  padding: .5em 1em;
  border-radius: 1em;
  border: 5px solid var(--primary);
  background: var(--secondary);
  color: var(--primary);
}